.dropdown {
    position: relative;
    .dropdown-button {
        display: flex;
        align-items: center;
    }
    .dropdown-title {
        color: var(--text-color);
        font-size: 2rem;
        background-color: transparent;
        border-color: transparent;
        margin-right: 1rem;
    }

    .dropdown-icon {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        text-align: center;
    }

    .dropdown-icon:hover {
        cursor: pointer;
        background: var(--calendar-button-selected-background-color);
        opacity: 0.7;
    }

    .dropdown-content {
        display: block;
        height: auto;
        width: 30rem;
        transition: 0.5s;
        background-color: var(--modal-background-color);
        color: var(--text-color);
        font-size: 2rem;
        z-index: 1;
        box-sizing: border-box;
        position: absolute;
        max-height: 32rem;
        overflow: auto;

        .dropdown-option-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            vertical-align: middle;
            height: 4rem;
            cursor: pointer;
        }
        .dropdown-option-item {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: var(--calendar-button-background-color);
            border: 0px;
            outline: 0px;
            font-family: Roboto, Helvetica, Arial, sans-serif;
            font-size: 1.5rem;
            font-weight: 500;
            margin: 8px 0px;
            height: 3.6rem;
            width: 7.5rem;
            border-radius: 18px;
        }
        .selected {
            background-color: var(--calendar-button-selected-background-color);
            color: var(--calendar-button-selected-color);
        }
        .dropdown-option-item:hover {
            background-color: var(--calendar-button-selected-background-color);
            color: var(--calendar-button-selected-color);
            opacity: 0.7;
            cursor: pointer;

        }
    }
}