// Define color
:root {
    --background-color: #0a1929;
    --modal-background-color: #2e2e2f;
    --border-color: #434e5b;
    --title-color: #a0a6ac;
    --text-color: #fefefe;
    --clock-color: #da4336;
    --calendar-button-background-color: #121211;
    --calendar-button-selected-color: #000;
    --calendar-button-selected-background-color: #42a5f5;
}
